<div class="container p-3 my-3">
    <h1 class="text-center">TAMU Datathon 2021 Application</h1>
</div>
<div class="container">
    <% if(justSubmitted) { %>
        <div class="alert row alert-success alert-dismissible fade show" role="alert">
            <strong>Application Saved!</strong>&nbsp;Come back here later to check the status of your application.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %>
</div>
<div class="container card">
    <div class="card-content p-3 text-center">
        
        <h4>Your Current Application Status:</h4>
        <h3><strong><%= currentApplication.status || "NOT SUBMITTED" %></strong></h2>
        <p>
            Fill out the form below and hit the green button at the bottom to save your application. <br>You can check this page later to edit your application or see if you got in!
        </p>
    </div>
</div>
<form method="POST">
    <div class="container p-3 my-3 rounded">
        <h3>Contact Info</h3>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input
                type="text"
                class="form-control"
                name="email"
                value="<%= currentApplication.email || '' %>"
                id="email"
                placeholder="Email Address"
                required="true"
                aria-labelledby="email-help"
            />
            <span class="d-none" id="email-help">Enter your email address here</span>
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input
                type="text"
                name="firstName"
                class="form-control"
                id="firstName"
                value="<%= currentApplication.firstName || '' %>"
                placeholder="First Name"
                required="true"
                aria-labelledby="fname-help"
            />
            <span class="d-none" id="fname-help">Enter your first name here</span>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input
                type="text"
                class="form-control"
                id="lastName"
                name="lastName"
                value="<%= currentApplication.lastName || '' %>"
                placeholder="Last Name"
                required="true"
                aria-labelledby="lname-help"
            />
            <span class="d-none" id="lname-help">Enter your last name here</span>
        </div>
    </div>
    <div class="container">
        <hr/>
    </div>
    <div class="container p-3 my-3 rounded">
        <h3>Portfolio</h3>
        <div class="form-group">
            <label for="gitHub">GitHub</label>
            <input
                type="url"
                class="form-control"
                id="gitHub"
                value="<%= currentApplication.githubURL || '' %>"
                name="githubURL"
                placeholder="Link to your GitHub Profile"
                aria-labelledby="github-help"
            />
            <span class="d-none" id="github-help">Enter your Github url here</span>
        </div>
        <div class="form-group">
            <label for="linkedIn">LinkedIn</label>
            <input
                type="url"
                class="form-control"
                id="linkedIn"
                name="linkedInURL"
                value="<%= currentApplication.linkedInURL || '' %>"
                placeholder="Link to your LinkedIn Profile"
                aria-labelledby="linkedin-help"
            />
            <span class="d-none" id="linkedin-help">Enter your LinkedIn url here</span>
        </div>
        <div class="form-group">
            <label for="kaggle">Kaggle</label>
            <input
                type="url"
                class="form-control"
                id="kaggle"
                name="kaggleURL"
                value="<%= currentApplication.kaggleURL || '' %>"
                placeholder="Link to your Kaggle Profile"
                aria-labelledby="kaggle-help"
            />
            <span class="d-none" id="kaggle-help">Enter your Kaggle url here</span>
        </div>
        <div class="form-group">
            <label for="devpost">Devpost</label>
            <input
                type="url"
                class="form-control"
                id="devpost"
                value="<%= currentApplication.devpostURL || '' %>"
                name="devpostURL"
                placeholder="Link to your Devpost Profile"
                aria-labelledby="devpost-help"
            />
            <span class="d-none" id="devpost-help">Enter your Devpost url here</span>
        </div>
        <div class="form-group">
            <label for="website">Website</label>
            <input
                type="url"
                class="form-control"
                id="website"
                name="websiteURL"
                value="<%= currentApplication.websiteURL || '' %>"
                placeholder="Link to your Personal Website"
                aria-labelledby="personal-page-help"
            />
            <span class="d-none" id="personal-page-help">Enter your personal webpage here</span>
        </div>
        <label for="resume">Resume</label>
        <input
            type="file"
            class="form-control"
            name="resume"
            accept="application/pdf"
            aria-labelledby="resume-help"
        />
    </div>
    <div class="container">
        <hr/>
    </div>
    <div class="container p-3 my-3">
        <h3>Education</h3>
        <div class="form-group">
            <label for="colleges">School</label>
            <select
                class="form-control"
                id="college-select"
                required="true"
                value="<%= currentApplication.school || '' %>"
                name="colleges"
            >
            <option></option>
            <% for (const college of colleges.results) { %>
                <option value="<%= college.id %>"><%= college.text %></option>
            <% } %>    
            </select>
        </div>
        <div class="form-group">
            <label for="classification">Classification</label>
            <input
                type="text"
                class="form-control"
                id="classification"
                placeholder="Classification"
                value="<%= currentApplication.classification || '' %>"
                required="true"
                name="classification"
                aria-labelledby="form-classification-help"
            />
            <span class="d-none" id="form-classification-help"
                >What is your classification?</span
            >
        </div>
        <div class="form-group">
            <label for="graduation">Graduation Date</label>
            <input
                type="text"
                class="form-control"
                id="graduation"
                placeholder="Graduation Date"
                value="<%= currentApplication.graduationDate || '' %>"
                name="graduationDate"
                aria-labelledby="form-graduation-help"
            />
            <span class="d-none" id="form-graduation-help"
                >When will you graduate?</span
            >
        </div>
        <div class="form-group">
            <label for="majors">Majors</label>
            <select
                class="form-control"
                id="major-select"
                required="true"
                value="<%= currentApplication.majors || '' %>"
                multiple="multiple"
                name="majors"
            >
            <% for (const major of majors.results) { %>
                <option value="<%= major.id %>"><%= major.text %></option>
            <% } %>    
            </select>
        </div>
        <div class="form-group">
            <label for="minors">Minors</label>
            <select
                class="form-control"
                id="minor-select"
                required="true"
                value="<%= currentApplication.minors || '' %>"
                name="minors"
                multiple="multiple"
            >
            <% for (const major of majors.results) { %>
                <option value="<%= major.id %>"><%= major.text %></option>
            <% } %>   
            </select>
        </div>

        <div class="form-group">
            <label for="firstGen">Are you a First Generation Student?</label>
            <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                  Yes
                </label>
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    No
                  </label>
              </div>

        </div>
    </div>
    <div class="container">
        <hr/>
    </div>
    <div class="container p-3 my-3">
        <h3>Demographics</h3>
        <div class="form-group">
            <label for="gender">Gender</label>
            <input
                type="text"
                class="form-control"
                id="gender"
                placeholder="Gender"
                required="true"
                value="<%= currentApplication.gender || '' %>"
                name="gender"
                aria-labelledby="form-gender-help"
            />
            <span class="d-none" id="form-gender-help">What is your gender?</span>
        </div>
        <div class="form-group">
            <label for="race">Race</label>
            <input
                type="text"
                class="form-control"
                id="race"
                value="<%= currentApplication.race || '' %>"
                name="race"
                placeholder="Race"
                required="true"
            />
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input
                type="number"
                class="form-control"
                id="age"
                name="age"
                value="<%= currentApplication.age || '' %>"
                placeholder="Age"
                required="true"
                aria-labelledby="form-age-help"
            />
            <span class="d-none" id="form-age-help">How old are you?</span>
        </div>
    </div>
    <div class="container">
        <hr/>
    </div>
    <div class="container p-3 my-3">
        <h3>Experience</h3>
        <div class="form-group">
            <label for="numHack">Number of Hackathons Attended</label>
            <input
                type="number"
                class="form-control"
                id="numHack"
                name="numHackAttended"
                value="<%= currentApplication.numHackAttended || '' %>"
                placeholder="Number of Hackathons Attended"
                required="true"
                aria-labelledby="form-num-hacks-help"
            />
            <span class="d-none" id="form-num-hacks-help"
                >How many hackathons have you attended?</span
            >
        </div>
        <div class="form-group">
            <label for="dsExp">DS/ML Experience</label>
            <input
                type="text"
                class="form-control"
                id="dsExp"
                name="dataExperience"
                placeholder="DS/ML Experience"
                value="<%= currentApplication.dataExperience || '' %>"
                required="true"
                aria-labelledby="form-ds-ml-experience-help"
            />
            <span class="d-none" id="form-ds-ml-experience-help"
                >What experience do you have in Data Science and Machine
                Learning?</span
            >
        </div>
        <div class="form-group">
            <label for="techExp">Tech Experience</label>
            <input
                type="text"
                class="form-control"
                id="techExp"
                name="techExperience"
                placeholder="Tech Experience"
                value="<%= currentApplication.techExperience || '' %>"
                required="true"
                aria-labelledby="form-tech-experience-help"
            />
            <span class="d-none" id="form-tech-experience-help"
                >What technology experience do you have?</span
            >
        </div>
    </div>
    <div class="container p-3 my-3">
        <button type="submit" class="btn btn-success">
            <% if(!applicationExists) {%>
                Submit New Application
            <% } else { %>
                Save Changes
            <% } %>
        </button>
    </div>
</form>

<style>
    .select2-selection__choice__display{
    color: #000000!important;
}
</style>
