<!doctype html>
<html lang="en">
<%- include ("./partials/head") %>

<body style="background: linear-gradient(#3f87f330, #00c0a930)">
    <div class="container p-3 my-3 bg-light rounded">
        <div class="row align-items-center">
            <div class="col-md-auto">
                <h1>Submitted Applications</h1>
                <p>Count = 1</p>
            </div>
            <div class="col-md-auto">
                <button type="button" class="btn btn-large">View Starred Applicant(s)</button>
            </div>
            <div class="col-md-auto">
                <button type="button" class="btn btn-small">Modify Deadlines</button>
            </div>
            <div class="col-md-auto">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Admit Applicant(s)</a>
                        <a class="dropdown-item" href="#">Waitlist Applicant(s)</a>
                        <a class="dropdown-item" href="#">Reject Applicant(s)</a>
                        <a class="dropdown-item" href="#">Export Data</a>
                        <a class="dropdown-item" href="#">View Details</a>
                        <a class="dropdown-item" href="#">Star Applicant(s)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-3 my-3 bg-light text-white rounded">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="selectAll">
                            <label class="custom-control-label" for="selectAll"></label>
                        </div>
                    </th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">School</th>
                    <th scope="col">Classification</th>
                    <th scope="col">Computed Skill</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach((app, i) => { %>
                    <tr data-toggle="modal" data-id="<%= app.userAuthId || '' %>" data-auth>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="select1">
                                <label class="custom-control-label" for="select1"></label>
                            </div>
                        </td>
                        <td><%= app.firstName %> <%= app.lastName %></td>
                        <td><%= app.email %></td>
                        <td><%= app.school %></td>
                        <td><%= app.classification %></td>
                        <td><%= app.dataExperience %></td>
                        <td><%= app.status %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="appInfoModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="appInfoModal">TAMU Datathon</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><b>School:</b></p>
                    <p id="modal-school">Texas A&M</p>
                    <hr/>
                    <p><b>Resume:</b></p>
                    <p><a id="modal-resume-url" href="tamudatathon.com">Link to Resume</a></p>
                    <hr/>
                    <p><b>Tech Skills:</b></p>
                    <p id="modal-tech-experience">Advanced</p>
                    <hr/>
                    <p><b>LinkedIn URL:</b></p>
                    <p><a id="modal-linkedin-url" href="linkedin.com/company/tamudatathon">Link to LinkedIn</a></p>
                    <hr/>
                    <p><b>Kaggle URL:</b></p>
                    <p><a id="modal-kaggle-url" href="tamudatathon.com">Link to Kaggle</a></p>
                    <hr/>
                    <p><b>Devpost URL:</b></p>
                    <p><a id="modal-devpost-url" href="tamudatathon.com">Link to Devpost</a></p>
                    <hr/>
                    <p><b>GitHub URL:</b></p>
                    <p><a id="modal-github-url" href="https://github.com/tamu-datathon-org">Link to GitHub</a></p>
                    <hr/>
                    <p><b>GitHub Repositories (top five):</b></p>
                    <p>
                        <ul id="github-repos-list"></ul>
                    </p>
                    <p>
                        <img id="github-languages-card" src="#" height="100%" />
                    </p>
                    <p>
                        <img id="github-stats-card" src="#" width="100%" />
                    </p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <%- include ("./partials/scripts") %>

</body>

</html>